.link-container2 {
    position: relative;
    background-color: white;
}
.text-cutout { 
    background-color: white;
    color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center; /* Center text */
    font-weight: bold;
    font-size: 1.5em;
    mix-blend-mode: screen;
    transition: all 200ms ease-in;

    &:hover {
        transform: translateX(-100%);
    }
}
.text-cutout2 { 
    color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center; /* Center text */
    font-weight: bold;
    font-size: 1.5em;
}

